<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.jsp" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
            <mimeMap fileExtension=".mobileprovision" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".ipa" mimeType="application/vnd.iphone" />
            <mimeMap fileExtension=".plist" mimeType="application/xml" />
            <mimeMap fileExtension=".mobileconfig" mimeType="application/x-apple-aspen-config" />
        </staticContent>
<rewrite>
<rules>
<rule name="HTTP to HTTPS redirect" stopProcessing="true">
<match url="(.*)" />
<conditions>
<add input="{HTTPS}" pattern="off" ignoreCase="true" />
</conditions>
<action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
</rule>
</rules>
</rewrite>
    </system.webServer>
</configuration>
